---
const platform1 = "twitter";
const username1 = "eo";
const platform2 = "instagram";
const username2 = "e.ogilvie";
---

<footer>
  <p>I almost never post on <a href={`https://www.${platform1}.com/${username1}`}>{platform1}</a>!</p>
  <p>You will rarely see me post on <a href={`https://www.${platform2}.com/${username2}`}>{platform2}</a>!</p>
</footer>

